PORT=3000
BASE_URL=laidrivm.com
GITHUB_REPO=local
# GITHUB_REPO=https://github.com/laidrivm/articles
GITHUB_TOKEN=unath
# GITHUB_TOKEN=ghp_...
REGENERATE_TOKEN=token
ARTICLES_DIR=articles
PUBLIC_DIR=public
